@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans SC', sans-serif;
}

body{
    background: azure;
}
a{
    text-decoration: none;
}


.general-btn{
    width: 100%;
    margin: 1rem auto;
    padding: .75rem 1.25rem;
    background: #0099FF;
    color: #FFF;
    text-align: center;
    border-radius: 2rem;
    transition: all .3s ease;
}
.demat-btn{
    position: relative;
    margin: 1rem;
    width: 120px;
    padding: .75rem;
    background: #0099FF;
    color: #FFF;
    text-align: center;
    border-radius: 8px;
}
.general-btn i{
    margin-right: .75rem;
}
.general-btn:hover{
    background: rgb(200, 100, 20);
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 999;
}
nav{
    position: relative;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    position: relative;
    height: 8vh;
    width: auto;
}
.nav-cta{
    position: relative;
    padding: .75rem 1.25rem;
    background: #F9D342;
    color: #292826;
    font-weight: 500;
    border-radius: 8px;
    transition: all .3s ease;
}
.nav-cta:hover{
    background: #292826;
    color: #F9D342;
}


.hero{
    position: relative;
    margin-top: 10vh;
    margin-bottom: 1rem;
    width: 100%;
    height: 95vh;
    background: url('./assets/heroimg.jpg') center/cover no-repeat;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem 1.5rem;
    border-radius: inherit;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(31,29,29,0.5970763305322129) 52%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-btn{
    width: auto;
}

.hero .logo-div{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    padding-right: 2rem;
    width: 100%;
    height: auto;
    border-radius: inherit;
    align-self: center;
    justify-self: center;
    color: #FFF;
    text-align: right;
}
.logo{
    font-family: 'Jura', sans-serif;
}


h1.hero-title{
    position: relative;
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #FFF !important;
    font-weight: 700;
}
p.hero-subtitle{
    font-size: 1.25rem;
    color: #FFF;
    font-weight: 400;
}

.benefits-wrapper{
    position: relative;
    padding: 0 1rem;
    margin: 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.benefits-wrapper .large{
    position: relative;
    padding: 1rem;
    height: 50vh;
    flex: 6;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
    background: #FFF;
    overflow: hidden;
}
.benefits-wrapper .large .title{
    position: relative;
    margin: 0 1rem 1rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    color: #0099FF;
    border-bottom: 1px solid rgb(220,220,220);
}
.benefits-wrapper .horizontal-wrapper{
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.benefit-box{
    position: relative;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
    cursor: pointer;
    transition: all .3s ease;
}
.benefit-box i{
    color: #0099FF;
    font-size: 2rem;
}
.benefit-box .card-title{
    margin: .25rem auto .5rem;
    text-align: center;
    font-size: 1rem;
    color: #333;
}
.benefit-box .card-content{
    text-align: center;
    font-size: .8rem;
    color: darkslategray;
}
.benefit-box:hover{
    background: #004ff8;
}
.benefit-box:hover .card-icon{
    color: rgb(167, 183, 255);
}
.benefit-box:hover .card-title{
    color: #FFF;
}
.benefit-box:hover .card-content{
    color: azure;
}

.large-wave{
    position: absolute;
    bottom: -10vh;
    right: 0;
    width: 100%;
    height: auto;
}

.benefits-wrapper .small{
    position: relative;
    padding: 1rem;
    flex: 2;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
    background: #FFF;
}
.benefits-wrapper .vertical-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.benefits-wrapper .vertical-wrapper .title{
    position: relative;
    width: 100%;
    margin: 0 1rem 1rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #0099FF;
    border-bottom: 1px solid rgb(220,220,220);
}

.options-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.option{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background: blanchedalmond;
    color: orange;
    font-size: .8rem;
    font-weight: 500;
}
.option:nth-child(2n){
    background: rgb(255, 225, 255);
    color: blue;
}
.option:nth-child(3n){
    background: rgb(250, 195, 195);
    color: red;
}


.swiper{
    position: relative;
    padding: 0 1rem;
    margin: 2rem auto;
    width: calc(100% - 2rem);
}
.swiper-title{
    margin-top: 4rem;
    text-align: center;
    color: #333;
}
.swiper-subtitle{
    text-align: center;
    color: darkslategray;
}
.swiper-slide{
    border-radius: 1.25rem;
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
    max-height: 480px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}


.demat-wrapper{
    position: relative;
    width: calc(100% - 2rem);
    margin: .5rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.author-wrapper{
    position: relative;
    width: calc(100% - 2rem);
    height: auto;
    padding: 1rem 1.5rem;
    margin: .5rem auto;
    background: #FFF;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
}
.author-name{
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #333;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgb(220,220,220);
}

.author-wrapper .content{
    color: darkslategray;
}

.author-horizontal-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.author-img{
    width: 280px;
    height: 320px;
    object-fit: cover;
    border-radius: 0 2rem 2rem 2rem;
    box-shadow: -1px 1px 10px rgba(0,0,0,.1);
}

.footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer p{
    color: darkslategray;
}
.sebi-logo{
    position: relative;
    margin: .25rem auto;
    width: 72px;
    height: auto;
    opacity: .45;
}

@media (max-width: 768px) {

    .hero{
        height: 60vh;
    }
    .overlay{
        padding: 1rem;
    }

    .logo-div{
        padding-right: 0;
        padding-right: unset;
        text-align: center;
    }
    .logo-div .logo{
        font-size: 1.5rem;
    }
    .sebi-reg{
        font-size: .8rem;
    }

    h1.hero-title{
        margin-bottom: .5rem;
        font-size: 2rem;
    }
    p.hero-subtitle{
        margin-bottom: 1rem;
        font-size: .9rem;
    }

    .benefits-wrapper{
        position: relative;
        height: auto;
        flex-direction: column;
        gap: unset;
    }
    .large, .small{
        flex: unset;
        width: 100%;
        height: auto;
    }
    .benefits-wrapper .large{
        margin-bottom: 1rem;
    }
    .large-wave{
        bottom: 0;
        border-radius: 0 0 2rem 2rem;
    }

    .benefits-wrapper .horizontal-wrapper{
        flex-direction: column;
        gap: unset;
        height: auto;
    }
    .benefit-box{
        flex: unset;
        margin: .5rem auto;
        width: 100%;
        height: auto;
    }

    .swiper-title{
        font-size: 1.5rem;
    }
    .swiper-slide{
        max-height: 360px;
    }

    .demat-wrapper{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .partner-img{
        width: 100%;
        height: auto;
    }

    .author-wrapper{
        height: auto;
        padding: 1rem;
    }
    .author-name{
        font-size: 1.5rem;
    }
    .author-horizontal-wrapper{
        height: auto;
        flex-direction: column-reverse;
        gap: unset;
    }
    .author-horizontal-wrapper .small{
        margin-bottom: 1rem;
    }
    .author-img{
        width: 100%;
        height: 200px;
        object-position: top;
        margin: 0 auto;
        border-radius: 2rem 2rem 0 2rem;
    }
    .author-wrapper .content{
        font-size: .8rem;
    }

}