@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

:root{
    --primary: #FFB200;
    --secondary: #277BC0;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}


.container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.container-left{
    position: relative;
    width: 50%;
    height: auto;
    padding: 0 1rem;
    text-align: left;
}
.container-right{
    position: relative;
    width: 50%;
    height: 100%;
}

.container-heading{
    position: relative;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 2.6rem;
    font-family: 'Roboto', sans-serif;
    color: #fec107;
}
.container-desc{
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: darkslategrey;
    font-weight: 500;
}


.horizontal{
    flex-direction: row;
    justify-content: space-evenly;
}
.vertical{
    flex-direction: column;
    justify-content: center;
}

.section-heading{
    position: relative;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('./img/heroimg.jpg') center/cover no-repeat;
}

.hero-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
    animation: heroanim 3s ease 0s infinite;
}
.logo{
    position: relative;
    margin: 1rem auto 2rem;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

@keyframes heroanim {
    0%{
        backdrop-filter: hue-rotate(0deg);
    }
    25%{
        backdrop-filter: hue-rotate(90deg);
    }
    50%{
        backdrop-filter: hue-rotate(180deg);
    }
    75%{
        backdrop-filter: hue-rotate(270deg);
    }
    100%{
        backdrop-filter: hue-rotate(360deg);
    }
}

.hero h3{
    font-size: 1.6rem;
}
.hero h1{
    position: relative;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-family: 'Playfair Display', sans-serif;
}

.tg-btn{
    position: relative;
    margin: 1rem auto;
    padding: .8rem 1.5rem;
    background: var(--primary);
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    border-radius: 36px;
    transition: all .5s ease;
}
.tg-btn i{
    position: relative;
    font-size: 2rem;
    margin-right: 1rem;
}

.tg-btn:hover{
    filter: hue-rotate(270deg);
}


.poster{
    height: 90vh;
    background: url('./img/posterbg.png') center/cover no-repeat;
    color: #FFF;
}
.poster-container{
    margin-top: 0;
}
.poster-right{
    position: relative;
    margin-top: 2rem;
    width: 50%;
    text-align: end;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.poster-right .tg-btn{
    margin: 1rem 0;
}
.devices{
    position: relative;
    top: 5vh;
    width: 40vw;
}

.features-section{
    position: relative;
    margin-top: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    position: relative;
    width: 100%;
    margin: 1rem auto 2rem;
    display: grid;
    place-content: center;
    font-size: 3rem;
    font-weight: 800;
    color: var(--secondary);
}
.features-wrapper{
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.feature-card{
    position: relative;
    flex: 1;
    padding: 2rem;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.feature-card i{
    font-size: 4rem;
    color: var(--secondary);
}
.feature-card h3{
    position: relative;
    margin: 1rem auto 2rem;
    font-size: 1.5rem;
    color: var(--secondary);
}
.feature-card p{
    position: relative;
    font-size: 1rem;
    color: darkslategray;
}


.card-btn{
    font-size: 1rem !important;
    color: #FFF;
}
.card-btn i{
    font-size: 1.5rem;
    color: #FFF;
}


.process-container{
    position: relative;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #1B2430, #251D3A);
}
.process-container h1{
    color: #FFF;
}
.process-row{
    position: relative;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.process-card{
    position: relative;
    flex: 1;
    padding: 1rem;
    background: #143F6B;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.process-card h3{
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: #2FA4FF;
}
.process-card p{
    color: azure;
    font-size: 1rem;
    text-align: center;
}

.reviews-section{
    position: relative;
    height: auto;
    padding: 2rem 1rem;
}

.gallery-img{
    width: 280px;
    height: auto;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.splide__slide{
    width: 280px;
    height: auto;
    border-radius: 16px;
}
.splide__arrow{
    position: relative;
    margin-top: 2rem;
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
    display: grid;
    place-content: center;
    background: rgba(0, 0, 50, 0.8);
}

@media (max-width: 768px) {

    .hero-content h3{
        font-size: 1.25rem;
    }
    .hero-content h1{
        font-size: 2rem;
    }

    .poster{
        height: auto;
    }
    .poster-container{
        flex-direction: column;
    }
    .devices{
        display: none;
    }
    .poster-right{
        margin: unset;
        margin-top: 2rem;
        width: 100%;
        padding: unset;
        align-items: center;
    }

    .features-section{
        margin-top: 1rem;
    }
    .features-wrapper, .process-row{
        flex-direction: column;
    }

    .title{
        font-size: 1.75rem;
        text-align: center;
    }
}